body{
    margin: 0;
    background-color: black;
    font-family: "Satoshi";
}
header {
    background-color: transparent !important;
    height: 80px;
}
.btn {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-sm {
    height: 34px;
}
.btn-lg {
    height: 46px;
}
.btn-s-d{
    border: solid 1px;
    background-color: black;
    border-color: #393A47;
}
.btn-outline-2{
    border: solid 2px;
}
.btn-border-p {
    border-color: #ED5C15;
}

.p-lr-20{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-border-d {
    border-color: #393A47;
}
.small {
    display: none !important;
}
.link{
    padding: 0.8em 0.4em 0.8em 0.4em;
}
.header {
    height: 80px;
}
.ccenter {
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #FF3D00;
    width: 6px;
    height: 6px;
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  .loader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
  }
  .head-section{
    background-image: url("../assets/images/header-bg.svg");
    background-size: cover;
    margin-top: -80px;
    padding-top: 30px;
  }
  .dokdo-section{
    background-image: url("../assets/images/dokdo-bg.svg");
    background-size: cover;
    /* min-height: 70em; */
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .solar-section{
    background-image: url("../assets/images/solar-bg.svg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 40px;
  }

  .logo-container {
    min-height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  @media (max-width: 420px){
    header {
        height: 56px;
    }
    .large{
        display: none !important;
    }
    .small {
        display: flex !important;
    }
    
  }